.App {
  text-align: center;
}

.colorButton {
  height: 20px;
  width: 20px;
  border: 0;
  margin: 1px;
}

.selectedColorButton {
  height: 28px;
  width: 28px;
  border: 4;
  border-width: 4px;
  margin: 0px;
  border-color: blue;
}

.image {
  height: 20px;
  margin: 20px
}